flask
Flask-Caching
Werkzeug
psutil
schedule
Pillow
requests
aiohttp
numpy
moviepy
opencv-python-headless
python-dotenv
discord.py
deep_translator
pexpect
cryptography
qrcode
openpyxl
stem
configparser
cloudscraper
selenium
webdriver_manager
playwright
beautifulsoup4
fake-useragent
PySocks
pyppeteer
pyppeteer_stealth
pycryptodome
pyfiglet
pyDes
gtts
pydub
SpeechRecognition
pysrt
undetected-chromedriver 